{% extends 'layout.html' %}

{% block title %}
    Exams
{% endblock %}

{% block body %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
        background: blue;
    }

    th, td {
        padding: 0.75rem;
        border: 1px solid #ddd;
        text-align: left;
    }

    tr:first-child {
        background: #f2f2f2;
        font-weight: bold;
    }

    tr:not(:first-child):hover {
        background: white;
    }

    a {
        color: black;
        text-decoration: none;
    }
</style>
<section class="page">
    <table>
        <tr>
            <td>Id</td>
            <td>semester</td>
            <td>Link</td>
        </tr>

        {% for syllabus in syllabuses %}
            <tr>
                <td>{{ syllabus.id }}</td>
                <td>{{ syllabus.semester }}  <sup>th</sup> Semester </td>
                <td><a href="{{ syllabus.link }}" target="_blank"><i class="fa-solid fa-download"></i>   </a></td>
                    
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}


