


{% extends 'layout.html' %}

{% load static %}


    {% block title %}
        Govt. Polytechnic, Angul
    {% endblock %}

    {% block style %}
        <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock %}

{% block body %}

    <main class="hero">
        <br>
        <br>
        <br>
        <br>
        <h1 class="main-Head">
            Govt. Polytechnic, Angul
        </h1>


        <!-- Profile Cards -->
        <section class="cards">

            <!-- Card 1 -->
            <article class="card">

                <div class="profile">
                    <span><img src="char.png"</span>
                </div>

                <h2 class="name">
                    Char Name
                </h2>

                <p class="role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>

            </article>


            <!-- Card 2 -->
            <article class="card">

                <div class="profile">
                    <span>02</span>
                </div>

                <h2 class="name">
                    Char Name
                </h2>

                <p class="role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>

            </article>


            <!-- Card 3 -->
            <article class="card">

                <div class="profile">
                    <span>03</span>
                </div>

                <h2 class="name">
                    Char Name
                </h2>

                <p class="role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>

            </article>


            <!-- Card 4 -->
            <article class="card">

                <div class="profile">
                    <span>04</span>
                </div>

                <h2 class="name">
                    Char Name
                </h2>

                <p class="role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>

            </article>


            <!-- Card 5 -->
            <article class="card">

                <div class="profile">
                    <span>05</span>
                </div>

                <h2 class="name">
                    Char Name
                </h2>

                <p class="role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>

            </article>


            <!-- Card 6 -->
            <article class="card">

                <div class="profile">
                    <span>06</span>
                </div>

                <h2 class="name">
                    Char Name
                </h2>

                <p class="role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>

            </article>
           
        </section>
        <h1> BRANCHS</h1>
         <section class="branchs">
                        <article class="branch">

                <h2 class="br-name">
                    CE & IoT
                </h2>

                <p class="br-role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>
                        </article>
                              <article class="branch">

                <h2 class="br-name">
                    ELECTRICAL ENGINEERING
                </h2>

                <p class="br-role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>
                        </article>
                              <article class="branch">

                <h2 class="br-name">
                    MECHANICAL ENGINEERING
                </h2>

                <p class="br-role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>
                        </article>
                              <article class="branch">

                <h2 class="br-name">
                    CIVIL ENGINEERING
                </h2>

                <p class="br-role">
                   Civil engineering is a branch of engineering that
                    focuses on the design, construction, and maintenance of 
                    infrastructure such as roads, bridges, dams, airports, and buildings. 
                    It applies principles of physics, mathematics, and material science to solve 
                    practical problems and create safe, sustainable structures.
                </p>
                        </article>
                <article class="branch">

                <h2 class="br-name">
                    METALLURGY
                </h2>

                <p class="br-role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>
                        </article>
                <article class="branch">

                <h2 class="br-name">
                    MINNING
                </h2>

                <p class="br-role">
                    Skill Development &amp;<br>
                    Technical Education<br>
                    Department, Odisha
                </p>
                        </article>
                        
            </section>


        <!-- Footer -->
        <footer class="footer">
            Govt. Polytechnic, Angul
        </footer>

    </main>

{% endblock %}