
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="../satic/create_acc.css">
</head>
<body>
  <div class="login-container">
    <form class="login-box" method="POST" >
      <h2>Create Account</h2>
      <div class="input-group">
        <span class="icon">👤</span>
        <input type="text" placeholder="Username" required>
      </div>
      <div class="input-group">
        <span class="icon">✉️</span>
        <input type="email" placeholder="email" required>
      </div>
      <div class="input-group">
        <span class="icon">🔒
        </span>
        <input type="password" placeholder=" Conform Password" required>
      </div>
      <button type="submit">Create</button>
    </form>
     
    
  </div>
</body>
</html>