

{% extends 'layout.html' %}

{% load static %}


{% block title %}
    Feedback
{% endblock %}

{% block body %}
    <section class="page">
        <h1>
            Feedback
        </h1>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="description" placeholder="description">
            <input type="submit" value="Send">
        </form>
    </section>
    <div class="feedbacks">
        <h3>Users FeedBacks</h3>
        {% for feedback in feedbacks %}
        <h4>
            👤{{ feedback.user }}
        </h4>
        <p>
           {{ feedback.description }}
        </p>
        {% empty %}
        <h1>
            No FeedBacks Yet
        </h1>
        {% endfor %}
    </div>
{% endblock %}