<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Login
        </title>
    </head>
    <body>

        {% if messages %}
            {% for message in messages %}
                <h3>
                    {{ message }}
                </h3>
            {% endfor %}
        {% endif %}

        <section class="login-page">
                <div class="load">
                    <form method="post">
                        {% csrf_token %}
                        <h1> Login</h1>
                        <div class="input-box">
                            <label>Username</label><br>
                            <input type="text" placeholder="Username" required name="username">
                        </div>
                        <div class="input-box">
                            <label>Email </label><br>
                            <input type="email" placeholder="email" required name="email">
                        </div>
                        <div class="input-box">
                            <label>Password</label><br>
                            <input type="password" placeholder="Password" required name="password">
                        </div>
                        <div class="input-box">
                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </section>

  </body>
</html>
