{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>


  <div class="login-container">

    
    {% if messages %}
      {% for message in messages %}
        <p class="error-msg">
          {{ message }}
        </p>
      {% endfor %}
    {% endif %}

    <form class="login-box" method="POST" >
      {% csrf_token %}
      <h2>Login </h2>
      <div class="input-group">
        <span class="icon">👤</span>
        <input type="text" name="username" placeholder="Username" required>
      </div>
      <div class="input-group">
        <span class="icon">🔒
        </span>
        <input type="password" name="password" placeholder=" Enter Password" required>
      </div>
      <input class="button" type="submit" value="Login">
      <p class="info-cls">
        if not have a account <a href="#" >Sign in</a>
      </p>
    </form>
     
    
  </div>
</body>
</html>