{% extends 'layout.html' %}

{% block title %}
    Welcome
{% endblock %}

{% block body %}

    <section class="hero">
        <!-- Hero Content -->
        <div class="hero-content">
            <div class="hero-text">
                <h1>
                    <div class="liquid" data-text="Build your">Build your</div><br>
                    <div class="liquid" data-text="Future">Future</div> <span>Golden</span>
                </h1>
                <p>
                    Learn today. Build your skills.
                    Create your future.
                </p><br><br>
                {% if user.is_authenticated %}
                <a href="{% url 'ai:ai_view' %}" class="learn-btn">
                    Paw AI →
                </a>
                {% else %}
                <a href="{% url 'user:create_account' %}" class="learn-btn">
                    Create account →
                </a>
                {% endif %}
                
            </div>
        </div>

        <!-- Services -->
        <section class="services">
            <h2>Services</h2>
            <div class="service-container">
                
                <div class="service-card">
                    <h3>Study Notes</h3>
                    <p>Read simple and useful study notes.</p>
                    <span>→</span>
                </div>

                <div class="service-card">
                    <h3>Exam Preparation</h3>
                    <p>Prepare effectively for upcoming exams.</p>
                    <span>→</span>
                </div>

                <div class="service-card">
                    <h3>Important Questions</h3>
                    <p>Pratice important questions.</p>
                    <span>→</span>
                </div>

                <div class="service-card">
                    <h3>Previous Papers</h3>
                    <p>Solve Previous year question papers.</p>
                    <span>→</span>
                </div>
                      <div class="service-card">
                    <h3>Pratice Tests</h3>
                    <p>test your knowledge with online tests.</p>
                    <span>→</span>
                </div>

                <div class="service-card">
                    <h3>Video Learning</h3>
                    <p>Learn concepts through educational videos.</p>
                    <span>→</span>
                </div>

                <div class="service-card">
                    <h3>Quick Revision</h3>
                    <p>Revise Important topics in less time.</p>
                    <span>→</span>
                </div>

                <div class="service-card">
                    <h3>Study Resources</h3>
                    <p>Get useful PDFs,materials and Resources.</p>
                    <span>→</span>
                </div>

            </div>
        </section>
    </section> 

{% endblock %}
