{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
    </style>
</head>
<body>
    <section class="sec-nav">
        <header class="navbar">
            <div class="logo">
                PawByte
            </div>
            <nav>
                <a href="#" class="active">Home</a>
                <a href="#" class="">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </nav>
            <div class="profile-circle">
            </div>
        </header>
    </section>
        <hr class="slimline">

    <!-- Plugin Body -->
    {% block body %}
    {% endblock %}

    
</body>
</html>
